.login{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login p{
  color: #407BFF;
  text-decoration: underline;
  cursor: pointer;
}

.login2{
  width: auto;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.login3{
  width: 100%;
  height: 67px;
  background-color: #D9D9D9;
  text-align: center;
  padding-top: 20px;
}

.login4{
  
}

.login4 label{
  font-weight: 400;
  font-size: 16px;
  list-style: none;
  line-height: 18.75px;
  color: #000000;
  padding-bottom: 10px;
}

.login4 input{
  width: 100%;
  height: 43px;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
}

.login5{
text-align: center;

}

.login5 button{
  width: 423px;
  height: 47px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
  color: #FFFFFF;
  background-color: #26BD00;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login6{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}